@import '_config.scss';

header{
    position: relative;
    display: block;
    width: 100%;
    height: 150px;
    margin: 0;
    background: $black;
    color: $white;

    .homelink{
        position: absolute;
        top: 10%;
        left: 15px;

        a{
            font-size: 19px;
            line-height: normal;
            color: $white;

            &:hover{
                color: $red;
                @include transition(.4s ease-in-out);
            }
        }
    }

    .logo_line_1{
        font-size: 45px;
        position: absolute;
        left: 35%;
        top: 20px;
        line-height: 100%;
    }

    .logo_line_2{
        font-size: 45px;
        position: absolute;
        right: 35%;
        bottom: 20px;
        line-height: 100%;
    }

    nav,
    nav ul,
    nav ul li{
        margin: 0;
        padding: 0;
    }

    nav{
        position: absolute;
        top: 10%;
        right: 15px;

        ul li{
            list-style-type: none;
            display: inline-block;
            margin-right: 20px;
            @include transition(.4s ease-in-out);
            cursor: pointer;

            &:hover{
                color: $red;
                @include transition(.4s ease-in-out);
            }

            &.last{
                margin: 0;
            }

            a{
                font-size: 19px;
                line-height: normal;
                color: $white;
            }

        }
    }

}

footer {
    position: fixed;
    bottom:0;
    height: 120px;

    width: 100%;
    background: $black;
    color: $white;

    .img-center {
        text-align: center;
        @include translateY(80%);    }

    .logo{

        text-align: center;


        @include translateY(60%);
    }

    nav,
    nav ul,
    nav ul li{
        margin: 0;
        padding: 0;

    }

    nav{
        @include translateY(180%);
        ul{
            text-align: center;
            height: 100%;

        }
        ul li{
            display:inline;
            padding:10px;
            cursor: pointer;

            &:hover{
                color: $red;
                @include transition(.4s ease-in-out);
            }

            a{
                display:inline-block;
            }
        }
    }
}

body{
    min-height:100%;
    position:relative;
    padding-bottom:120px;

    width: 100%;
    background: $black;
    color: $white;
}

.contact-modal{
    background: $black;
    color: $white;
}

.home-page-desc{
    position: relative;
    width: 100%;
    height: 200px;
    line-height: 200px;

    text-align: center;
    display: inline-block;
    vertical-align: middle;

    background: blue;
    color: $white;
}

.enter-page-container{
    position: relative;
    overflow: auto;

    width: 100%;
    height: 300px;
    line-height: 300px;

    text-align: center;
    vertical-align: middle;

    background: purple;
    color: $white;
}

.enter-page-component{
    position: relative;
    height: 300px;
    width: 400px;
    display: inline-block;

    vertical-align: middle;

    margin-left: 100px;
    margin-right:100px;
}
.enter-page-component-title{
    position: relative;

    height: 70px;
    line-height: 70px;
    text-align: center;
    vertical-align: middle;

    font-size: 45px;

    background-color: black;

    a{
        font-size: 45px;
        text-decoration: none;
        color: white;

        &:hover{
            color: $red;
            @include transition(.4s ease-in-out);
        }
    }

}

.enter-page-component-image{
    position: relative;

    height: 130px;
    line-height: 130px;
    text-align: center;
    vertical-align: middle;

    background-color: black;
}
.enter-page-component-description{
    position: relative;

    height: 100px;
    line-height: 100px;
    text-align: center;
    vertical-align: middle;

    background-color: black;
}
.under-construction{
    position: relative;

    height: 200px;
    line-height: 200px;
    text-align: center;
    vertical-align: middle;

    background-color: black;
}